*{
	margin:0px;
	padding:0px;
	border:0px;
	font-family:Arial;
	direction:rtl;	
}

.ui-content{background: #292929;}

a{
	text-decoration:none;
}

.page{
	background:#000;
	position: relative;	
	padding-top:55px;	
}

#header_wrap{
	position: relative;
	width:100%;
	height: 100%;	
}

.header{
	background: #6b6b6b;
	height:70px;
	border:0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:1000;
}

#hCenter{
	margin: 0px auto 0px auto;
	width: 155px;
	height: 70px;
}

#logo{
	width:80px;
	height:70px;
	background: url("../images/logo.png") no-repeat top center;
	background-size: 100% 55px;
	float: left;
}

#likesNotifications{
	float: left;
	background: url("../images/swiper/notif_bg1.png") no-repeat center center;
	background-size: 100%;
	/*
	 position: absolute;
	 left: 85px;
	 top: 0px;
	 */
	width: 70px;
	height: 70px;
	position: relative;
	margin-top: 5px;
}

#likesCount{
	background: url("../images/swiper/noti.png") no-repeat center center;
	background-size: 80%;
	position: absolute;
	left: -5px;
	bottom: -4px;
	width: 28px;
	height: 28px;
	font-size: 11px;
	color: #fff;
	padding-top: 12px;
	text-align: center;
	
}



#sign_up{
	display:none;
	position:absolute;
	top:5px;
	right: 1px;
	width:89px;
	height:70px;
	background: url("../images/register_button.png") no-repeat center center;
	/*margin:7px 0 0 0;*/	
}


#back{
	position:absolute;
	top:5px;
	right:10px;
	width:75px;
	height:70px;
	background: url("../images/back_button.png") no-repeat right center;
	display:none;

}


/*
#logo{
	width:121px;
	height:70px;
	background: url("../images/logo.png") no-repeat center center;
	position:absolute;
	top:-10px;
	left:50%;
	margin-left:-60.5px;
	background-size:100%;
}
*/


#logout{
	position:absolute;
	top:5px;
	left:10px;
	width:75px;
	height:70px;
	background: url("../images/logout_button.png") no-repeat left center;
	display:none;
}

.sortButtonWrap{
	width:100%;
	height:60px;
	background: #3d3d3d;
	
	position: fixed;
	z-index: 500;
	top:70px;
	left:0px;	
	
	border-bottom:1px solid #000;
}

.appPage{
	margin-top:20px;
}


.content_wrap{
	margin:0 auto;
	width:300px;
}

#download_app_button, #cell_website_button, #regular_website_button{	
	width:283px;
	height:98px;
	margin-bottom:15px; 
}

#download_app_button{
	background:url("../images/download_app_button.png") no-repeat;	
}

#cell_website_button{
	background:url("../images/sellular_website_button.png") no-repeat;	
}

#regular_website_button{
	background:url("../images/regular_website_button.png") no-repeat;	
}

#my_button{
	background:url("../images/download_app_button.png") no-repeat;
	width:283px;
	height:98px;
}

#user_txt, .user_input, #pass_txt, #pass_input, #fog_pass, #login, .regInput, .regTxt{
	float:right;
}

#birthDate div{	
	margin-right:1px;	
}

#user_txt, #pass_txt, .regTxt{
	width:75px;	
	margin-right:10px;	
	color:#c8c8c9;
	font-size:15px;
	font-weight: bold;
}

#authForm #user_txt,#authForm #pass_txt{
	width:100px;		
}

.lineHeight_50{
	line-height:50px;	
}

.mar_top_8{
	/*line-height:35px;*/
	margin-top:8px;
}

.user_input input, #pass_input input, .regInput input, .regInput textarea{
	width:180px;
	color:#000;
	font-size:16px;
	font-weight: bold;
	height:38px;
	border:1px solid #d9dbd9;
	background: #fff;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    direction: ltr;
    padding:7px;
    margin-bottom:15px;
}

#authForm .user_input input,#authForm #pass_input input,#recovery_page .user_input input{
	width:251px;
	margin-right:16px;	
	font-weight: bold;
	font-size:17px;
	color:#000;
}

[placeholder]{
	color:#c8c8c9;
	font-size:16px;
	font-weight: bold;		
}

.user_input input, #pass_input input{
	border:0px;
	background: #ececec;	
}

.regInput textarea {
	height: 100px;
}

/*
.regInput input{
	
	background: #eaeaea;
	border:1px solid #d6d7d6;
	
}
*/
.clear{
	clear:both;
	height:1px;
}

#authForm{
	padding: 0 0 20%;
	position:absolute;
	bottom:0;
}

#authForm label{
	width:170px;
	background:none;
	border:0px;
	color:#707070;
	font-weight:normal;
	font-size:13px;	
}

#authForm label span{
	font-size:13px;
}

#authForm input[type="checkbox"]{
			
}

#fog_pass{
	margin-top: 15px;
}

#fog_pass a{
	color: #494949;
	font-size: 12px;	
	text-decoration:underline;
}

#fog_pass a:hover{	
	text-decoration:none;   	
}

#login{
	width:122px;
	height:55px;
	background: url("../images/login_button.png") no-repeat;
	float:left;	
	margin-left:10px;
}

#grey_line{
	width:100%;
	height:12px;
	background:#2f2f2f;
}

.bg_user_pre{background: #2f2f2f;}

.user_data_preview:nth-child(2n+1){margin-right: 3px;}
.user_data_preview:nth-child(2n+2){margin-right: -5px;}

.user_data_preview{	
	background: #222222;
	float:left;
	width:148px;
	position:relative;
	display:none;
	padding:7px 0;
}

.user_data_preview .user_photo_wrap{
	width:128px;
	height:128px;
	overflow:hidden;
	border:2px solid #fff;
	margin: 0 auto 7px;
}

.user_data_preview .user_photo{	
	width:128px;	
	background:#464646;				
}

.user_data_preview a span{	
	color:#ea006f;
	font-size:14px;
	text-decoration:none;
	
}

.user_data_preview a{
	text-decoration:none;	
	margin:0 7px 0 2px;	
}

.user_data_preview .on{
	position:absolute;
	left:10px;
	bottom:8px;		
	color: #c8c8c9;
	font-size: 10px;
	width: 30px;
	line-height:14px;
	height: 13px;
	text-align: right;
	background: url("../images/online_icon.png") left center no-repeat;
}

.user_data_preview .address{
	width:90px;
	font-size: 13px;
	color: #c8c8c9;
	margin-left:2px;
	margin-right:7px 
}

.image_loading{
	/*background: url("../jquery.mobile/images/ajax-loader.gif") no-repeat;*/ 
	width:46px;
	height:46px;
	margin:auto;
	/*filter: Alpha(Opacity=18);*/
}


#top_left_buttons{
	
	/*
	left:17px;	
	z-index: 10;
	position:absolute;
	*/
	min-width:100px;
	height:100%;
	float:left;
	
}

#top_right_buttons{	
	
	/*
	position:absolute;
	right:17px;	
	z-index: 10;
	*/	
	
	
	width:33%;
	float:right;
}

#right_buttons{
	float:right;	
}

#left_buttons{
	float:left;	
}



#center_logo{	
	/*
	z-index: 5;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:50px;
	background: url("../images/logo.png") no-repeat center center;
	*/
	float:left;
	width:33%;
	height:50px;
	background: url("../images/logo.png") no-repeat center center;
	
	 
	
}

/*
#center_logo{	
	width:96px;
	height:49px;
	background: url("../images/logo.png") no-repeat;	
	
	position: absolute;
	top:0px;
	right:35%; 
}
*/


#contact{
	display:none;		
	float:left;
	width:68px;
	height:29px;
	background: url("../images/contact_button.png") no-repeat;
	margin:11px 0 0 0;		
}

.mainBut{
	float:left;
	width:148px;
	height:151px;
	background:url("../images/shrlinBack.png") no-repeat;
}

.mainBut:hover{
	background:url("../images/shrlinActive.png") no-repeat;
}




#friends_online, #search_friends, #profile, #mail_box{
	float:left;
	width:148px;
	height:151px;	
}

#friends_online{
	background:url("../images/onlineFri.png") no-repeat center;
	
}

#search_friends{
	background:url("../images/searchRS.png") no-repeat center;
}

#profile{
	background:url("../images/myPro.png") no-repeat center;	
}

#mail_box{
	background:url("../images/massBox.png") no-repeat center;
	position:relative;
}




.mb_wrap{
	float: right;
	width:100px;
	height:100px;
	background:url("../images/bg_mb.png") no-repeat;
	background-size: 100%;
	/*position: relative;*/
}


.mb_wrap:hover{
	background:url("../images/bg_mb_active.png") no-repeat;
	background-size: 100%;
}

.mb_wrap .text{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin-top: 75px;
}


#friends_online, #search_friends, #profile, #mail_box, #looked_me, #doLikes, #looked_them,  #contacted_them, #favorites, #fav_me, #update_profile{
	float:right;
	width:100%;
	height:100%;
}





#friends_online{
	background:url("../images/friends_online_button.png") no-repeat 50% 30%;
	background-size: 60%;
}


#search_friends{
	background:url("../images/search_friends_button.png") no-repeat 50% 30%;
	background-size: 60%;
}

#profile{
	background:url("../images/profile_button.png") no-repeat 50% 30%;
	background-size: 60%;
}

#mail_box{
	background:url("../images/mail_box_button.png") no-repeat 50% 30%;
	position:relative;
	background-size: 60%;
}


#looked_me{
	background:url("../images/looked_me_button.png") no-repeat 50% 30%;
	background-size: 80%;
}

#looked_them{
	background:url("../images/looked_them_button.png") no-repeat 50% 30%;
	background-size: 80%;
}

#contacted_them{
	background:url("../images/contacted_them_button.png") no-repeat 50% 30%;
	background-size: 40%;
}

#favorites{
	background:url("../images/favorites_button.png") no-repeat 50% 30%;
	background-size: 40%;
}

#fav_me{
	background:url("../images/fav_me_button.png") no-repeat 50% 30%;
	background-size: 80%;
}

#update_profile{
	background:url("../images/update_profile_button.png") no-repeat 50% 30%;
	background-size: 45%;
}

#doLikes{
	background:url("../images/do_likes_button.png") no-repeat 50% 30%;
	background-size: 80%;
}








'

#why_subscr{
	width:291px;
	/*height:60px;
	background:url("../images/why_subscr_button.png") no-repeat;*/
	/*float:left;*/
	margin:10px 6px 0 0;
}

#new_mes_count{
	display:none; 
	background:url("../images/new_mes_count_bg.png") no-repeat;
	position:absolute;
	top:0px;
	right:0px;
	z-index:10;
	width:31px;
	height:31px;	
	font-size: 13px;	
	color:#fff;
	text-align: center;
	line-height: 31px; 
}

.no_dec{
	text-decoration: none;
}

h1{
	color:#c8c8c9;
	font-size: 20px;
}

h1 span{
	color:#ee007b;  
}


.sendMessDiv{
	position:relative;
}

.messField{
	float:right;
	width:65%;
}

.messField textarea{
	max-height:170px;
}

.sendMessButDiv{
	width:30%;
	position:absolute;
	top:5px;
	left:0px;
}


.dots{
	background: url("../images/v_dots.png") repeat-x;
	margin:11px 0 11px 0;
	width:100%;
	height:2px;	
}

#search_form{
	color:#c8c8c9;
	font-size:18px;
	font-weight:bold;	
}

.sf_txt{
	color:#c8c8c9;
	float:right;
	width:30%;
	line-height:55px;
}

.sf_txt2{
	color:#c8c8c9;
	float:right;
	line-height:55px;	
	width:10%;
	text-align:center;  
}

.sf_sel_wrap{
	float:right;
	width:70%;
}

.sf_sel{
	width:100%;	
}

.left{
	float:left; 	
}

.sf_sel_wrap2{
	float:right;
	width:45%;
}

.search_but{
	width:101px;
	height:43px;
	margin:15px 0 0 0;
}

#search{
	background: url("../images/search_button.png") no-repeat;
}

#my_search{
	background: url("../images/my_search_button.png") no-repeat;
}


#footer{
	background:#292929;
	width:100%;
	height:97px;
	border:0px;
	position: fixed;
	bottom:0px;
	display:none;				
}


#footer1{
	float:right;
	width:320px;
	height:97px;
	background:#292929;  
}

.res_btn{
	width:54px;
	height:20px;
	margin:3px 0 0 10px;
}

#distance{
	background:url("../images/distance_button.png") no-repeat;
}

#online{	
	background:url("../images/online_button.png") no-repeat;	
}

#gallery{
	background:url("../images/gallery_button.png") no-repeat;	
}

.right{
	float:right;
}

.user_data{
	width: 98%;
	height:100px;
	background:#fff;
	margin-bottom: 15px;
	padding:5px 5px 0 0;
	position: relative;
}

.user_data .user_photo_wrap{
	width:95px;
	height:95px;
	overflow:hidden;
	position:relative;
}

.user_pic{
	width:95px;
	height:95px;
	background:#575757;	
	background-size:95px;	
}

.send_mes{
	width:53px;
	height:100%;
	background:url("../images/send_mes_button.png") no-repeat right center;
	position: absolute;
	left:0px;
	top:0px;	
}

.send_mes span{
	color: #fff;
	width: 41px;
	float: left;
	text-align: center;
	font-weight: bold;
	margin-top: 43px;
	font-size: 10px;
	line-height: 1;
	text-shadow: none;
}

.user_short_txt{
	position: absolute;
	right:105px;
	top:5px;
	height:95px;
	width:44%;
	color:#434343;
	font-size:11px;
	overflow:hidden;
	margin-left:68px;
	text-overflow: ellipsis;
	/*
	margin-right:70px;
	margin-left:100px;
	*/
}

.user_short_txt a{
	color:#434343;
	font-size:11px;
}

.user_short_txt strong a{
	color:#000;
}

.user_short_txt span{	
	color:#909090;
}

.user_short_txt strong span{	
	color:#ea077b;
}

.on2{
	display:none;
	width:20px;
	height:21px;
	background:url("../images/online_icon2.png") no-repeat;
	position: absolute;
	right:85px;
	top:0px;
}

.special{	
	width:44px;
	height:64px;
	background:url("../images/special_icon.png") no-repeat;
	position: absolute;
	left:69px;
	top:-8px;	
}

.distance_value{
	width:60px;
	height:20px;
	background: #fff;
	position: absolute;
	right:20px;
	bottom:5px;
	text-align: center;	
	font-size: 14px;
	font-weight: bold;
	line-height:20px;
	opacity:0.9;
	border-radius: 10px 10px 0 0;
	
}

.distance_value span{
	color:#000;
	text-shadow: none;
}

a .mail_section{
	font-weight:normal;
}

.mail_section{
	width:100%;
	height:66px;
	background: #fff;
	/*padding:5px;*/
	position: relative;
	clear:both;
}

.isRead{
	background: #bababa;
}

.bingo{
	position: absolute;
	bottom: 5px;
	left: 5px;
	width: 50px;
	height: 25px;
	background-image: url("../images/swiper/bingo.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: bottom;
}

.mail_section .txt{	
	height:60px;
	float:right;	
	color:#666;
	font-size:12px;
	margin:7px 65px 7px 7px;
	overflow: hidden;
}

.mail_section a div{
	font-weight:normal;
}

.mail_section img{	
	width:55px;
	height:55px;
	border:1px solid #a4a4a4;
	background:#575757;	
	position: absolute;
	top:5px;
	right:5px;	
}

.mail_section strong{
	font-size:13px;	 
}

.mail_section span{
	position: absolute;
	top:7px;
	left:7px;
	color:#888;
	font-size: 12px;	
}

.new_mes_count{
	background:url("../images/new_mes_count_bg2.png") no-repeat;
	position:absolute;
	top:-5px;
	right:-5px;
	z-index:10;
	width:27px;
	height:26px;	
	font-size: 12px;	
	color:#fff;
	text-align: center;
	line-height: 26px;
	font-weight: bold;
}

/*.new_mes_count2{
	background:url("../images/new_mes_count_bg2.png") no-repeat;
	position:absolute;
	bottom:-13px;
	right:16px;
	z-index:30;
	width:27px;
	height:26px;	
	font-size: 12px;	
	color:#fff;
	text-align: center;
	line-height: 26px;
	font-weight: bold;
}*/
.new_mes_count2 {
	position: absolute;
	top: 4px;
	right: -10px;
	width: 25px;
	height: 25px;
	background: url(../images/bg_cout_mes.png);
	color: #fff;
	font-size: 12px;
	line-height: 25px;
	z-index: 10;
}



.new_mes{
	background: url(../images/bg_mes.png) 10px 8px no-repeat;
	position:absolute;
	/*bottom:-15px;*/
	top:75px;
	left: 10px;
	/*text-shadow: 1px 1px #531133; 
	
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px;
	border: 2px solid #fff;
	background:#e40f7d;
	box-shadow: 4px 4px 7px #db5d94;
	
	opacity:0.9;*/
	z-index:20;
	width:56px;
	height:50px;
	
	
	display:none;
	
	font-size:11px;
	color:#fff;
	font-weight: bold;
	/*padding-left:10px;*/
	text-align: center;
	
}

.text_mes {
	position: absolute;
	color: #797878;
	font-size: 8px;
	width: 40px;
	top: 14px;
	right: 5px;
	line-height: 9px;
}



.special2{	
	width:30px;
	height:44px;
	background:url("../images/icoKing.png") no-repeat;
	position: absolute;
	left:-10px;
	top:-9px;		
}

.gallery_section{
	width:88px;
	height:88px;
	background: #fff;
	position:relative;
	float:left;
	margin:0 8px 8px 0;	
}

.gallery_section img{
	width:84px;
	/*height:84px;*/
	background: #fff;
	margin:2px;
}

.gallery_section .name{
	width:100%;
	height:21px;
	background: #fff;
	position: absolute;
	bottom:2px;	
	text-align:center;
	z-index:10;
	font-weight: bold;
	color:#262626;
	font-size: 13px;
	line-height:26px;
}

.on3{
	width:20px;
	height:21px;
	background:url("../images/online_icon2.png") no-repeat;
	position: absolute;
	right:-5px;
	top:-5px;
}

.on5{
	width:20px;
	height:21px;
	background:url("../images/online_icon2.png") no-repeat;
	position: absolute;
	left:6%;
	top:-4px;
	margin-left:-2px;
}

.special3{	
	width:26px;
	height:26px;
	background:url("../images/special_icon2.png") no-repeat;
	display:none;
	margin-right: -5px; 		
	margin-top: -5px;
}

.special4{	
	width:26px;
	height:26px;
	background:url("../images/special_icon2.png") no-repeat;
	position:absolute;
	top:-16px;
	right:-18px;
	display:none;		
}

.gal_top_icons{
	position: absolute;
	right:-7px;
	top:-5px;	
}

.blue_star{	
	width:23px;
	height:22px;
	background:url("../images/blue_star.png") no-repeat;
	display:none;	
}

.yellow_star{	
	width:23px;
	height:22px;
	background:url("../images/yellow_star.png") no-repeat;		
}

.message_in, .message_out{
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
    width:75%;
    line-height:1.5em;
    margin-bottom: 5px;
    padding:10px 10px 10px 10px;
    -moz-box-shadow: 2px 2px 3px #c4c0b4;
	-webkit-box-shadow: 2px 2px 3px #c4c0b4;
	box-shadow: 2px 2px 3px #c4c0b4;
	font-size: 13px;
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	border-top:1px solid #fff;		
}

.message_in{	
	background-image: url("../images/mes_in_bg.png");
	background-color:#fb8fcb;	
}

.message_out{
	background-image: url("../images/mes_out_bg.png");
	background-color:#e0e1e2;	
}

.message_status {
	float: right;
	width: 39px;
	height: 23px;
	margin-right: 10px;
}

.message_status img {
	height: 16px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.message_info{
	width:70%;
	font-size: 11px;
	color: #818181;	
	clear:both;
	margin-bottom:20px; 	
}

.info_right{
	text-align:right;
	margin-right:15px;
	float:right;
}

.info_left{
	text-align:left;
	margin-left:15px;
	float:left;
}

#my_info_wrap{
	padding: 4px;
	background: #fff;
	height:85px;
}

#my_info{
	width:100%;	
	background: #fff;
	position: relative;		
}

#my_info .user_pic{
	width:82px;
	height:82px;
	/*background: url("../images/no_photo_female.jpg") no-repeat bottom center;*/
	border: 2px solid #ccc;
	position: relative;		
}

#my_info .user_pic img{
	width:100%;
	height:100%;
}

.male{
	background: url("../images/no_photo_male.jpg") no-repeat bottom center;	
}

.female{
	background: url("../images/no_photo_female.jpg") no-repeat bottom center;	
}

#my_info .pic_wrap{
	width:100%;
	height:100%;
	overflow:hidden;
}

#my_info .pic_wrap img{
	width:100%;
	height:100%;	
}

#my_info .txt{
	position:absolute;
	top:0;
	right:95px;	
	height:85px;		
	color:#434343;
	font-size:12px;
	/*margin:7px 60px 7px 7px;*/	
	overflow: hidden;
	
}

#my_info .txt span{	
	color:#909090;
}

#my_info .txt strong span{	
	color:#ea077b;
}

#my_buttons{
	clear:both;	
	width:100%;
}

#my_buttons .but_wrap{
	float:left;
	width:48%;
	height:52px;	
	margin-top:20px;	    	
}  

#my_buttons .but_wrap div{
	width:132px;
	height:100%;
	cursor:pointer;
}

#manage_account{	
	/*background: url("../images/manage_accaunt_button.png") no-repeat left;*/
	/*background: url("../images/stat_button.png") no-repeat left;*/	
}

#upload_image{
	/*background: url("../images/upload_image_button.png") no-repeat right;*/
	/*background: url("../images/upload_image_button2.png") no-repeat right;*/	
	/*float:right;*/
}

.grey_line{
	clear:both;
	width:100%;
	height:12px;
	background: #c1c1c1;	
}

.grey_line2{
	clear:both;
	width:100%;
	height:12px;	
	background:#c7bcc7;
}

.bg_white{
	/*background: url("../images/login_form_bg.jpg") no-repeat top center #292929;
	background-size:100% auto;*/
	width:100%;
	height:100%;
}

.myProf{
	background: url(../images/myProfile.png) repeat-x #151515;
}

#statistics{
	background:#292929;
	/*height:210px;*/			
}

.stat_side{
	width:50%;
	/*height:220px;*/	
	float:left;	
}

.stat_side .items_wrap{
	width:100%;	
	height:55px;
	position: relative;
	/*clear:both;*/
}

.stat_side .items_wrap .stat_title{
	position: absolute;
	top:5px;
	right:5px;
	margin-left:60px;
	color:#c8c8c9;
	font-size:12px;
	font-weight:bold;	
	text-shadow:0 1px 0 #fff;
}

.stat_side .items_wrap .stat_value{	
	position: absolute;
	top:0px;
	left:5px;
	background: url("../images/statistics_bg.png") no-repeat;
	width:46px;
	height:29px;	
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-align: center;
	line-height: 23px;
}

.bg_light_orange{
	background:#f7eed8;
}

.grey_line_wrap{	
	background: url("../images/upload_photo_top_bg.png") repeat-x;	
	width:100%;
	height:15px; 
}


.grey_line{
	background-repeat: no-repeat;	
	background-size: 100% 100%;
	background-image: url("../images/upload_photo_top_bg_wide.png");	
	width:100%;
	height:15px;	 
}

.up_buttons{
	height:63px;	
	margin: 0px 0px 5px -5px;    	
}

.take_a_photo{
	margin-bottom:5px;
	/*background: url("../images/take_a_photo_button.png") no-repeat;*/
}

.choose_from_library{
	/*background: url("../images/from_lib_button.png") no-repeat;*/
}

.continue{
	/*background: url("../images/continue_button.png") no-repeat;*/
}

.my_images{
	/*background: url("../images/my_images_button.png") no-repeat;*/
}


.bg_light_grey{
	background:#f6f6f6;
}

.bg_light_green{
	background:#fbfdef; 
}


.noPicture{
	width: 33%;
}

.noPicture img{
	width:100%;
	min-height:88px;
	/*float:left;*/
	border: 2px solid #fff;
}


#user_pictures{
	clear:both;	
	width:100%;
}

#user_pictures .pic_wrap{
	float:right;
	width:33%;	
	min-height:88px;	
	margin-top:20px;
	position: relative;		
	/*border:1px solid #ccc;*/	    	
}

#user_pictures .pic_wrap_center{
	width:33%;	
	min-height:88px;	
	margin-top:20px;
	position: relative;
	margin:20px auto 0px auto;		    
	/*border:1px solid #ccc;*/    	
}

.center{
	margin:20px auto 0px auto;
}

.noResults{
	width: 80px;
	color: #fff;
	text-shadow: 2px 2px #151515;
	font-size: 18px;
}


#user_pictures .pic_wrap img, #user_pictures .pic_wrap_center img{
	width:90%;
	/*height:84px;*/	
	/*cursor:pointer;*/
	border: 2px solid #fff;
	background: #ccc; 
}

#pic1{
	
}

#pic2{
	/*width:100%;*/
	/*margin:0 auto 0 auto;*/
}

#pic3{
	/*float:right;*/
}

.user_prof_buttons{
	/*width:47%;*/
	width:99%;	
	height:48px;
	border:3px solid #fff;	
	
	color:#fff;
	font-size: 16px;	
	font-weight:bold;
	line-height:3em;
	text-align:center;	
    margin: 15px 0px 15px 0px;
        
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;	
}

#add_to_fav{
	background: #f88f22;
	float:left;
}

#send_mes{
	/*background: #3f3f3f;*/
	background: #f88f22;
	float:right;
	
}

.user_data_group, .user_data_wrap .user_data{
	color:#fff;
	text-shadow:2px 2px #151515;
	font-size:14px;
	line-height: 100%;	
	padding:7px;
}

.user_data_group{	
	background:#5f5e5e;
}

.user_data_wrap .user_data{
	width:45%;
	height:auto;	
	float:right;
	background: none;
	margin: auto 0px auto 0px;		    	
}

.user_data_wrap .user_data2{
	color:#fff;
	text-shadow:2px 2px #151515;
	width:100%;
	height:auto;
	background: none;
	margin: auto 0px auto 0px;
	padding: 5px;
}

.user_data_wrap{
	width:100%;	
	/*background: #f7eed8;*/
	height:auto;	 
}

.bold{
	font-weight: bold;
}

.underline{
	border-bottom: 1px dotted #bebdbd;
	width:100%;
	clear:both;
	height:1px;	  
}

.on4{
	width:54px;
	height:25px;
	background:url("../images/online_icon3.png") no-repeat center;   
	float:right;
}

.welcome{
	width:100%;
	height:100%;
	background: url("../images/welcome.jpg") no-repeat;
	background-size: 100% 100%;
			
}

.filler{
	width:100%;
	height:auto;
	background:#fff;
}


.error{
	margin:0 0 10px 0;
	color:red;
	text-align:center;	
	background:#FFBD87;
	border-bottom: 1px solid #FFA154;
	padding:10px 5px 10px 5px;
}

.warning{
	width:100%;
	text-align:center;
	padding:10px 5px 10px 5px;
	font-size:18px;
	color:#FF8800;
}

.hidden{
	display:none;
}

.subscr_text{
	background: #fdf5e0;
	padding:10px;
	margin-bottom:20px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #E8D1B3;
	-webkit-box-shadow: 2px 2px 3px #E8D1B3;
	box-shadow: 2px 2px 3px #E8D1B3;    
}

.subscr{
	position:relative;
	width:100%;
	height:90px;
	border:0px solid #F0ECE1;
	margin:15px 0 15px 0;
	background:#fff;
	font-size:15px;	
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;	
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
    -moz-box-shadow: 2px 2px 3px #000;
	-webkit-box-shadow: 2px 2px 3px #000;
	box-shadow: 2px 2px 3px #000;
}

.subscr_left{
	position:absolute;
	left:0px;
	top:0px;	
	width:60px;
	height:100%;	
	background: #cc1498;
	border-top-left-radius: 10px;    	
    border-bottom-left-radius: 10px;
}

.subscr_left input[type="radio"]{
	margin-top:35px;
	margin-left:5px;
}

.subscr_sel{
	background:#ff2176;
}

.subscr_center{
	padding:10px;	
	position:absolute;
	left:70px;
	top:0px;
	padding:10px;
	line-height:1.5em;
	direction: ltr;
}

.subscr_right{
	position:absolute;
	right:20px;
	top:35px;	
	width:40px;
	font-weight:bold;
	color:#b81c55;	
}

.subscrLink{
	
}

.regInfo{
	font-weight: bold;	
	margin-bottom:10px;
	color:#c8c8c9;
	padding-top:10px;
}


#login_page, 
#my_profile_page, 
#search_form_page,
#uploadDiv, 
#main_page, 
#test1_page, 
#test2_page,
#user_profile_page,
#messenger_page,
#chat_page,
#subscription_page,
#delete_images_page,
#upload_image_page,
#get_stat_div,
#regions_list,
#register_page,
#recovery_page,
#EULA_page,
#report_abuse_page,
#edit_profile_page,
#contact_us_page,
#do_likes_page,
#likes_notifications_page,
.pic_wrap,
.appTemplates,
.new_mes_count, 
.distance_value,
.buySubscr,
#sortByDistance,
#sortByEntranceTime{
	display:none;   
}

#userEmail, .email, .password, #userPass, #userPass2{
	direction: ltr;
}

/*
#regions_list{
	display: none;
}
*/

.loader{
	width:100%;
	height:150px;
	background: url('../images/loader.gif') no-repeat center center;
}

.mar_l_10{
	margin-left:20px;
}
.bg_button{height:38px;}
.but_c{height:38px;background: url(../images/bg_button_c.png) repeat-x;color:#fff;line-height:38px;font-weight:bold;padding:0 10px;}
#messenger_page{padding-top:10px;}
#users_list_page .ui-content{padding-top:0px;}

.sortButton{
	width:65%;
	margin: 10px 10px 20px;
	display: none;
}

.EULA_Buttons{
	position:fixed; 
	bottom:0px; 
	left:0px; 
	width:100%; 
	height:70px;
	background: #1a1a1a;
	border-top:1px solid #000;
}

.EULA_Button{
	width:90%;
	margin:13px auto 0 auto;
}

#EULA_page{
	color: #fff;
	text-shadow:1px 1px #151515;

}

.gen{padding:5px 0;}
.user_data_wrap .underline{border-bottom: 1px dotted #585858;}
.user_data_wrap .user_data2{width:96.7%;}
.user_data_wrap .user_data{width:52.9%;min-height:15px; }
.user_data_wrap .user_data.bold{width:37%}
#main_page .ui-content {padding: 15px 0;}
#user_profile_page .content_wrap, #messenger_page .content_wrap, 
#search_form_page .content_wrap,#chat_page .content_wrap,
#users_list_page .content_wrap{width:100%;padding-right:1%;}
.bg_user_pre .content_wrap{margin-right:auto;width:295px;margin-left:auto;}
.ui-content{padding:15px 4.9% 0;min-height:360px;}
#my_profile_page .ui-content{min-height:100px;}
#login_page .ui-content{padding:0;}
#my_profile_page #uploadDiv .ui-content{min-height:100px;}
#messenger_page .ui-content{padding-top:0px;}
.ui-page{background: #292929;}
#birthDate .ui-btn-icon-left  .ui-btn-inner{padding-left: 1.7em;padding-right:0.4em;}
#birthDate .ui-btn-icon-left  .ui-btn-inner:after{left: .3em;}
#bannerLink .ui-btn{border-radius:10px;height:60px;line-height:40px;}
#bannerLink img{margin-right:-5px;}
#uploadDiv .ui-btn{margin-bottom:15px;}
#login_page .ui-btn{font-size:23px;border-radius:15px;min-width:110px;}
#upload_image_page .ui-btn{margin-top:20px;}
#uploadDiv .ui-btn:nth-child(1){margin-top:5%;}
#birthDate .ui-btn-icon-left .ui-icon{left:4px;}
#login_page{margin-top:0px;}
/*#birthDate .ui-btn {padding: -0.4em -0.2em;}
#birthDate .ui-btn-icon-left {padding-left: 1.6em;}
#birthDate .ui-btn-icon-left:after {left: .225em;}*/
#forgot {
	float: right;
	text-decoration: underline;
	font-size: 13px;
	color: #fff;
	/*margin: 20px 0 0 7%;*/
	margin-right:15px;
	padding: 0;
	line-height: 47px;
	font-weight: normal;
}

#recovery_page #form_recovery {
	width:250px;
	margin-left:-5%;
}

.form_button {
background: url(../images/form_button.png) no-repeat center;
background-size: 80%;
width: 144px;
height: 53px;
color: #fff;
border: 0;
font-size: 16px;
font-weight: bold;
line-height: 44px;
padding:1% 0 1% 0;
float: left;
margin-left:-20%;
}



.loading {
 -webkit-animation:fadein .3s;
    -moz-animation:fadein .3s;
      -o-animation:fadein .3s;
         animation:fadein .3s;
         
         display:none;
	
}
@-moz-keyframes fadein {
 from {opacity:0}
 to {opacity:1}
}
@-webkit-keyframes fadein {
 from {opacity:0}
 to {opacity:1}
}
@-o-keyframes fadein {
 from {opacity:0}
 to {opacity:1}
}
@keyframes fadein {
 from {opacity:0}
 to {opacity:1}
}

.spinner-wrapper {
 min-width:100%;
 min-height:100%;
 height:100%;
 
 /*top:0;*/
 bottom:0px;
 left:0;
 background:rgba(255,255,255,0.93);
 /*position:absolute;*/
 position:fixed;

 z-index:300;
}

.spinner-text {position:absolute;top:41.5%;left:40%;margin:16px 0 0 35px;font-size:9px;font-family:Arial;color:#BBB;letter-spacing:1px;font-weight:700}
.spinner {
 margin:0;
 display:block;
 position:absolute;
 left:45%;
 top:40%;
 border:25px solid rgba(100,100,100,0.2);
 width:1px;
 height:1px;
 border-left-color:transparent;
 border-right-color:transparent;
 -webkit-border-radius:50px;
    -moz-border-radius:50px;
         border-radius:50px;
 -webkit-animation:spin 1.5s infinite;
    -moz-animation:spin 1.5s infinite;
         animation:spin 1.5s infinite;
}

@-webkit-keyframes spin {
 0%,100% {-webkit-transform:rotate(0deg) scale(1)}
 50%     {-webkit-transform:rotate(720deg) scale(0.6)}
}

@-moz-keyframes spin  {
 0%,100% {-moz-transform:rotate(0deg) scale(1)}
 50%     {-moz-transform:rotate(720deg) scale(0.6)}
}
@-o-keyframes spin  {
 0%,100% {-o-transform:rotate(0deg) scale(1)}
 50%     {-o-transform:rotate(720deg) scale(0.6)}
}
@keyframes spin  {
 0%,100% {transform:rotate(0deg) scale(1)}
 50%     {transform:rotate(720deg) scale(0.6)}
}







.loadingBar{
	width:100%;
	height:20px;
	background: url('../images/loader.gif') no-repeat center center;
}








#edit_profile_page .save .formButton{
	margin-left: 25px;
}




#edit_profile_page .edit {
	color: #fff;
	font-size: 16px;
	line-height: 50px;
}

#edit_profile_page .sf_txt{
	font-weight: bold;
	line-height: 50px;
	/*display:table;*/
}

#edit_profile_page .sf_sel_wrap, #edit_profile_page .edit div{
	min-height:50px;
	box-sizing: border-box;
	padding-right:10px;
}

#edit_profile_page .sf_txt span {
	/*display: table-cell;
	 vertical-align: middle;*/
	color: #fff;
}

#edit_profile_page .edit button.formButton {
	font-size: 15px;
	margin-top: 10px;
	float: left;
}

#edit_profile_page .ui-btn {
	padding: 0;
}

#edit_profile_page input[type="text"], #edit_profile_page input[type="password"] {
	font-size: 15px;
	color: #505050;
	text-align: right;
	direction: rtl;
	height:40px;
	
	margin-bottom: 20px;
	margin-top: 20px;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	
}


.textar {
	max-height: 51px;
	line-height: 1em;
	font-size: 12px;
	overflow: auto;
	padding: 10px 0;
}

.formButton {
	background: #e800a6;
	color: #fff;
	background-size: 100% 100%;
	padding: 8px 5px;
	border-radius: 5px;
}

.devider{
	width:100%;
	height:1px;
	border-bottom: 1px solid #bababa;
	cler:both;
}

#messageToAdmin{
	height: 150px;
	width: 100%;
}





#do_likes_page{
	width: 100%;
	height: 500px;
	position: relative;
	margin-top: 15px;
	background: #000;
}

.swiper-container {
	position: absolute;
	top: 0px;
	right:0px;
	
	width: 100%;
	height: 100%;
}


.swiper-slide .cont{
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-color: #000;
	background-repeat: no-repeat;
	position: relative;
}

#do_likes_page .toolbar{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100px;
	background: #bcbcbc;
	z-index: 9999999999;
}

#do_likes_page .toolbar .box{
	float: left;
	width: 33%;
	height: 100px;
}

#do_likes_page .toolbar .box .icon{
	width: 65px;
	height: 100%;
	margin: 0px auto 0px auto;
}


#do_likes_page .toolbar .box .icon.like{
	background: url('../images/swiper/like.png') no-repeat center center;
}

#do_likes_page .toolbar .box .icon.chat{
	background: url('../images/swiper/mess.png') no-repeat center center;
}

#do_likes_page .toolbar .box .icon.unlike{
	background: url('../images/swiper/unlike.png') no-repeat center center;
}

#do_likes_page .icon.close{
	position: absolute;
	right: 20px;
	top: 20px;
	background: url('../images/swiper/icon_cancel.png') no-repeat;
	background-size: 100%;
	width: 32px;
	height: 32px;
	z-index: 9999999999;
}

#do_likes_page .nickname{
	position: absolute;
	right: 0px;
	top: -5px;
	margin: 15px;
	padding: 5px 10px 5px 10px;
	color: #fff;
	background: #bcbcbc url('../images/swiper/bg_trasparent.png');
	z-index: 9999999999;
	text-shadow: none;
	
}



#bingo_page{
	height:700px;
}


.bingoWrapper{
	width: 100%;
	height: 700px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: #000;
	opacity: .7;
	z-index: 999999999999;
	
}

.bingoWrapper .close{
	position:absolute;
	top: 20px;
	right: 20px;
	background: url('../images/swiper/close.png') no-repeat;
	background-size:  100% 100%;
	width: 37px;
	height: 37px;
}

.bingoWrapper .logo{
	width: 205px;
	height: 105px;
	margin: 75px auto 5px auto;
	background: url('../images/swiper/bingo.png') no-repeat;
	
}

.bingoWrapper .imagesWrapper{
	width: 310px;
	margin: 0px auto 0px auto;
	
}


.bingoWrapper .imageCont{
	float: right;
	width: 120px;
	height: 120px;
	background: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
	border: 6px solid #fff;
	
	
}


.bingoWrapper .plus{
	float: right;
	width: 41px;
	height: 132px;
	background: url('../images/swiper/plus.png') no-repeat center center;
	margin-left:5px;
}


.bingoWrapper .txt{
	width: 100%;
	font-size: 17px;
	color: #fff;
	text-align: center;
	margin-top:20px;
}


.bingoWrapper .chat, .bingoWrapper .ignore{
	text-align: center;
	color: #fff;
	font-weight: bold;
	line-height: 50px;
}


.bingoWrapper .chat{
	margin: 20px auto 0px auto;
	background: url('../images/swiper/chatSplash.png') no-repeat;
	width: 225px;
	height: 57px;
	padding-left: 50px;
	box-sizing: border-box;
	
}

.bingoWrapper .ignore{
	margin: 20px auto 0px auto;
	background: url('../images/swiper/ignoreSplash.png') no-repeat;
	width: 225px;
	height: 57px;
}


#likes_notifications_page{
	color: #fff;
	text-shadow: none;
}










